<h1>Task Description</h1>

<p>

Translate <a href="http://parrot.org/URL">parrot.org/URL</a> to LANGUAGE

</p>

<h1>Steps To Complete This Task</h1>

<ol>
<li> Translate the text content of parrot.org/URL, keeping the same HTML formatting
</ol>

<h1>Benefits</h1> 
<ol>
<li>
Currently we do not have any LANGUAGE-language Parrot documentation. We hope that translating important documents to LANGUAGE, as well as other languages, will allow Parrot to reach more developers around the world.
</li>
</ol>

<h1>Requirements</h1> 

<ol>
<li> Native or Fluent LANGUAGE speaker</li>
</ol>

<h1>Additional Links</h1>
<ul>
<li>
<a href="http://trac.parrot.org/parrot/wiki/NewParrotDeveloperGuide">New Parrot Developr Guide</a>
</li>
<li>
<a href="https://github.com/parrot/parrot/blob/master/docs/project/git_workflow.pod">Parrot Git Workflow</a>
</li>
<li>
<a href="http://trac.parrot.org/parrot">Parrot Developer Wiki</a>
</li>
<li>
<a href="http://help.github.com/pull-requests/">Sending Pull Requests</a>
</li>
</ul>
